doctype html
html
  head
    title books
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  body
     p(class='display-4 font-weight-light text-center') book information
     .mb-5
     div.text-center
       a(href="http://localhost:3000") Home
     .mb-2
     div.text-center
      img(src=`https://image.bokus.com/images/${books[0].ISBN13}` style="width:13rem" )
     .mb-3
     .container.text-center.list-group.table-responsive-sm
         table.table.table-hover.table-light
            thead
             tr.bg-light
               each value, key in books[0]
                   th=key
            tbody
              each book in books
                 tr(onClick=`move(${book.ISBN13})`)
                    each value in book
                        td=value
     .container.text-center.list-group.table-responsive-sm
         table.table.table-light.table-hover
            thead
             tr.bg-light
               each value, key in booksInfo [0]
                   th=key
            tbody
              each book in booksInfo
                 tr(onClick=`move(${book.ISBN13})`)
                    each value in book
                        td=value
script.
   function move(isbn){
        window.location.href=`https://image.bokus.com/images/${isbn}`
  }